In [5]:
import pandas as pd

In [30]:
df = pd.read_csv('nyc_weather.csv')

In [8]:
df.head(7)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293

```sql
select EST
from df 
where Temperature = (select max(Temperature) from df)
```

In [12]:
print(f"the maximum tempreture is: {df['Temperature'].max()}")

the maximum tempreture is: 50

In [15]:
max_temp = df['Temperature'].max()

df[df['Temperature'] == max_temp]['EST']

9    1/10/2016
Name: EST, dtype: object

In [9]:
df.shape # (raw, column)

(31, 11)

In [22]:
print(f"This are the days that it rains in January: {list(df[df['Events'] =='Rain']['EST'])}")

This are the days that it rains in January: ['1/9/2016', '1/10/2016', '1/16/2016', '1/27/2016']

In [23]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [25]:
df.fillna(0, inplace=True)

In [27]:
df['WindSpeedMPH'].mean() # sum(28/31)

6.225806451612903

In [29]:
print(f"The average temperature is : {round(df['WindSpeedMPH'].mean(), 2)}")

The average temperature is : 6.23

In [32]:
df['WindSpeedMPH'].mean() # sum(28/28)

6.892857142857143

In [40]:
np.average(list(df['WindSpeedMPH']))

nan

In [36]:
import numpy as np 
df['WindSpeedMPH'].isna().sum()

3

In [42]:
np.average(df['WindSpeedMPH'])

nan

In [37]:
df.shape

(31, 11)

In [ ]:
+28/31 # 3 ==> 0
+31/31 # 28 + 0 0 0

In [ ]:
# i need temp and windspeed when humidity >=70

```sql
select Temperature, WindSpeedMPH -- * 
from df 
where Humidity >= '70' 
```

In [46]:
df[df['Humidity'] >= 70][['Temperature','WindSpeedMPH']]

    Temperature  WindSpeedMPH
8            44           8.0
9            50           NaN
15           47           7.0
22           26          16.0