### Yummy... Ethiopian Vegi Combination Platter. aka Yetsom Beyaynetu
<img src="images/Ethiopian-vegi-combo.png" style="width:1000px;height:550px"/>
<!-- ![](images/Ethiopian-vegi-combo.png) -->

#### Ethiopian vegi combo can be multiple ingredients and choices

We want to write a script that can combine everyone's vegi como platter into one data collection and print each item for the restaurant. 

##### Variable assignment

let's start with our first six platter:
```python
1. "Shiro Wat"
2. "Miser Wat"
3. "Kik Alicha"
4. "Gomen"
5. "Dinich ena Carrot Alicha"
6. "Key Sire Alicha"
7. "Fossolia"
8. "Timatim Salata"
9. "Ethiopian Injera"
10. "Injera"
```

Two Ethiopian buddies are catching up after a long time and they decided to go for vegi combo. They sat in the corner of the restaurant and they ordered a six platter.

In [109]:
six_platter = ["Shiro Wat", "Miser Wat", "Kik Alicha", "Gomen", "Key Sire Alicha", "Timatim Salata", "Injera"]
six_platter

['Shiro Wat',
 'Miser Wat',
 'Kik Alicha',
 'Gomen',
 'Key Sire Alicha',
 'Timatim Salata',
 'Injera']

A humble waitress asked them if they wanted anything else. They told her they wanted `"Seneg"`. Let's add it

In [110]:
six_platter.append("Karya Seneg")
six_platter

['Shiro Wat',
 'Miser Wat',
 'Kik Alicha',
 'Gomen',
 'Key Sire Alicha',
 'Timatim Salata',
 'Injera',
 'Karya Seneg']

In [111]:
# or we can insert at paricular index 
six_platter.insert(1,"Awaze")
six_platter

['Shiro Wat',
 'Awaze',
 'Miser Wat',
 'Kik Alicha',
 'Gomen',
 'Key Sire Alicha',
 'Timatim Salata',
 'Injera',
 'Karya Seneg']

In [112]:
six_platter.remove('object')
six_platter

ValueError: list.remove(x): x not in list

In [113]:
len(six_platter)

9

As the waiterss turn around and start heading to the kitchen, one of their good buddies called and asked where they at. They told me they are about to order a vegi combo. He asked them to upgrade it to a ten platter.

In [114]:
six_platter.extend(["Fosolia","Dinich ena Carrot Alicha","Shiro Firfir","Timatim Salata"])
ten_platter = six_platter
ten_platter

['Shiro Wat',
 'Awaze',
 'Miser Wat',
 'Kik Alicha',
 'Gomen',
 'Key Sire Alicha',
 'Timatim Salata',
 'Injera',
 'Karya Seneg',
 'Fosolia',
 'Dinich ena Carrot Alicha',
 'Shiro Firfir',
 'Timatim Salata']

opps they forgot to order the lunch with `"Ethiopian Ingera"`. Let's substitute it now.

In [115]:
i = ten_platter.index('Injera')
i
# ten_platter.remove("Injera")
# ten_platter= list(map(lambda x: x.replace('Injera', "Ethiopian Ingera"), ten_platter))
# ten_platter= list(map(lambda x: x.upper(), ten_platter))

7

In [116]:
# i = ten_platter.index('Shiro Firfir')
# i

In [117]:
ten_platter[i] = "Ethiopian Ingera"
# ten_platter[7] = "Ethiopian Ingera"
# ten_platter.append("Ethiopian Ingera")
ten_platter

['Shiro Wat',
 'Awaze',
 'Miser Wat',
 'Kik Alicha',
 'Gomen',
 'Key Sire Alicha',
 'Timatim Salata',
 'Ethiopian Ingera',
 'Karya Seneg',
 'Fosolia',
 'Dinich ena Carrot Alicha',
 'Shiro Firfir',
 'Timatim Salata']

Let's sort our order

In [118]:
ten_platter.sort()
# ten_platter.pop('Gomen')

['Awaze',
 'Dinich ena Carrot Alicha',
 'Ethiopian Ingera',
 'Fosolia',
 'Gomen',
 'Karya Seneg',
 'Key Sire Alicha',
 'Kik Alicha',
 'Miser Wat',
 'Shiro Firfir',
 'Shiro Wat',
 'Timatim Salata',
 'Timatim Salata']

In [127]:
# [ten_platter[:i] for i in range(i, len(ten_platter[::2]))]

[]

In [27]:
ten_platter.pop()
ten_platter

['Awaze',
 'Dinich ena Carrot Alicha',
 'Ethiopian Ingera',
 'Fosolia',
 'Gomen',
 'Karya Seneg',
 'Key Sire Alicha',
 'Kik Alicha',
 'Miser Wat',
 'Shiro Firfir',
 'Shiro Wat',
 'Timatim Salata']

In [28]:
ten_platter.remove("Shiro Firfir")
ten_platter

['Awaze',
 'Dinich ena Carrot Alicha',
 'Ethiopian Ingera',
 'Fosolia',
 'Gomen',
 'Karya Seneg',
 'Key Sire Alicha',
 'Kik Alicha',
 'Miser Wat',
 'Shiro Wat',
 'Timatim Salata']

In [29]:
len(ten_platter)

11

Let's do some more indexing

In [30]:
ten_platter[2]

'Ethiopian Ingera'

okay... now let us build our favorite choises

In [31]:
my_choices = list([ten_platter[1],ten_platter[3],ten_platter[-2]])
my_choices

['Dinich ena Carrot Alicha', 'Fosolia', 'Shiro Wat']

In [32]:
my_favorite = ("My favorite choices are: " + 
    ", ".join(my_choices[:-1]) + 
    ", and " + my_choices[-1] + '.')
my_favorite

'My favorite choices are: Dinich ena Carrot Alicha, Fosolia, and Shiro Wat.'

returning results by skiping two from the list

In [39]:
ten_platter[::5]

['Awaze', 'Karya Seneg', 'Timatim Salata']

In [108]:
ten_platter

NameError: name 'ten_platter' is not defined

## Breakout 
############# START ##############

In [ ]:
# create your one three list of favorit items and return your result as 
# 'My favorite choices are: Dinich ena Carrot Alicha, Fosolia, and Shiro Wat.'b

############# STOP ##############

In [43]:
ten_platter.clear()
ten_platter

[]

In [44]:
del ten_platter

In [45]:
ten_platter

NameError: name 'ten_platter' is not defined

## Dictionaries

Dictionaries let you assign **key** and **value** pairs. 

Rather than using **indexing** you use **keys** to return values.

```python
vegi_combo_dict = {'ingredient1': 'Shiro Wat', 'ingredient2': 'Miser Wat', 'ingredient3': 'Key Sire Alicha'}
```
To get an element in the dictionary:
```python
print(vegi_combo_dict['ingredient2'])
```

Update your vegi_combo_dict to be a dictionary. Make sure to run `type()` on your dictionary to confirm it is successful.

Strings can contain numbers as well. It may look like 42, but it if it wrapped with `'42'`, then it is a string. See the difference below.

In [46]:
vegi_combo_dict = {'ingredient1': 'Shiro Wat', 
                    'ingredient2': 'Miser Wat', 
                    'ingredient3': 'Key Sire Alicha'}

In [52]:
# for i,j in vegi_combo_dict.items():
#     print(f'{i} : {j}')

ingredient1 : Shiro Wat
ingredient2 : Miser Wat
ingredient3 : Key Sire Alicha

In [53]:
# dict_name[key] = value
vegi_combo_dict['ingredient4'] = 'Fosolia'

In [54]:
vegi_combo_dict

{'ingredient1': 'Shiro Wat',
 'ingredient2': 'Miser Wat',
 'ingredient3': 'Key Sire Alicha',
 'ingredient4': 'Fosolia'}

In [55]:
vegi_combo_dict['ingredients'] = ['1','2','3']
vegi_combo_dict

{'ingredient1': 'Shiro Wat',
 'ingredient2': 'Miser Wat',
 'ingredient3': 'Key Sire Alicha',
 'ingredient4': 'Fosolia',
 'ingredients': ['1', '2', '3']}

Now, to make it even better, you can nest **DICTIONARIES** INSIDE of **LISTS**

```python
group_lunch = [
    {'ingredient1': 'Shiro Wat', 'ingredient2': 'Miser Wat', 'ingredient3': 'Dinich ena Carrot Alicha'}
    {'ingredient1': 'Fosolia', 'ingredient2': 'Atkilt Wot', 'ingredient3': 'Gomen'}
    {'ingredient1': 'Key Sire Alicha', 'ingredient2': 'Kik Alicha', 'ingredient3': 'Shiro Firfir'}
]
```

try calling elements of group lunch and see what you get!

In [56]:
group_lunch = [
    {'ingredient1': 'Shiro Wat', 'ingredient2': 'Miser Wat', 'ingredient3': 'Dinich ena Carrot Alicha'},
    {'ingredient1': 'Fosolia', 'ingredient2': 'Atkilt Wat', 'ingredient3': 'Gomen'},
    {'ingredient1': 'Key Sire Alicha', 'ingredient2': 'Kik Alicha', 'ingredient3': 'Shiro Firfir'}
]

In [57]:
len(group_lunch)

3

In [63]:
group_lunch[2]['ingredient2'].split(' ')[-1]

'Alicha'

In [64]:
group_lunch[2]

{'ingredient1': 'Key Sire Alicha',
 'ingredient2': 'Kik Alicha',
 'ingredient3': 'Shiro Firfir'}

In [7]:
group_lunch[2]['ingredient2']

'Kik Alicha'

In [65]:
for lunch in group_lunch:
    print(lunch['ingredient3'])

Dinich ena Carrot Alicha
Gomen
Shiro Firfir

In [66]:
vegi_combo_dict

{'ingredient1': 'Shiro Wat',
 'ingredient2': 'Miser Wat',
 'ingredient3': 'Key Sire Alicha',
 'ingredient4': 'Fosolia',
 'ingredients': ['1', '2', '3']}

replacing the dictionary key

In [67]:
temp = vegi_combo_dict.copy()
temp

{'ingredient1': 'Shiro Wat',
 'ingredient2': 'Miser Wat',
 'ingredient3': 'Key Sire Alicha',
 'ingredient4': 'Fosolia',
 'ingredients': ['1', '2', '3']}

In [70]:
for i, (key, value) in enumerate(temp.items()):
    index = 'index_' + str(i)
    temp[index] = temp.pop(key)
    # print(i, key, value)/

RuntimeError: dictionary keys changed during iteration

In [11]:
temp

{'ingredient2': 'Miser Wat',
 'index_1': 'Key Sire Alicha',
 'index_2': 'Fosolia',
 'index_3': ['1', '2', '3'],
 'index_4': 'Shiro Wat'}

<!-- ![](images/python-error.png) -->
<img src="images/python-error.png" style="width:700px;height:550px"/>

In [71]:
for i, (key, value) in enumerate(list(temp.items())):
    index = 'index_' + str(i)
    temp[index] = temp.pop(key)

In [75]:
temp
# dict[key] = value
# dict['index_0'] = 'Miser Wat'
# dict['index_1'] = 'Key Sire Alicha'
# dict['index_2'] = 'Fosolia'
# dict['index_3'] = 'Miser Wat'

{'index_0': 'Miser Wat',
 'index_1': 'Key Sire Alicha',
 'index_2': 'Fosolia',
 'index_3': ['1', '2', '3'],
 'index_4': 'Shiro Wat'}

In [76]:
temp['index_0'] = 'class 2020'

In [77]:
temp

{'index_0': 'class 2020',
 'index_1': 'Key Sire Alicha',
 'index_2': 'Fosolia',
 'index_3': ['1', '2', '3'],
 'index_4': 'Shiro Wat'}

In [93]:
example = {
    'cust_1' : {'add': '123'},
    'cust_2': {'add': 'jurf'}

}

In [97]:
example['id'] = example['cust_1']

In [99]:
del example['cust_1']

In [100]:
example

{'cust_2': {'add': 'jurf'}, 'id': {'add': '123'}}

In [89]:
list(example.keys())

['cust_ 1', 'cust_2']

In [73]:
vegi_combo_dict

{'ingredient1': 'Shiro Wat',
 'ingredient2': 'Miser Wat',
 'ingredient3': 'Key Sire Alicha',
 'ingredient4': 'Fosolia',
 'ingredients': ['1', '2', '3']}

In [102]:
import pandas as pd

In [151]:
df = pd.DataFrame.from_dict(vegi_combo_dict, orient='index')
df

                           0
ingredient1        Shiro Wat
ingredient2        Miser Wat
ingredient3  Key Sire Alicha
ingredient4          Fosolia
ingredients        [1, 2, 3]

In [106]:
df1= df.reset_index()
df1

         index                0
0  ingredient1        Shiro Wat
1  ingredient2        Miser Wat
2  ingredient3  Key Sire Alicha
3  ingredient4          Fosolia
4  ingredients        [1, 2, 3]

In [107]:
df2 = df1.rename(columns={'index': 'key', 0: 'value'})
df2

           key            value
0  ingredient1        Shiro Wat
1  ingredient2        Miser Wat
2  ingredient3  Key Sire Alicha
3  ingredient4          Fosolia
4  ingredients        [1, 2, 3]

In [132]:
df2.iloc[2]['value'] = 'Kitfo'

In [148]:
# df2['value'][1] = 'Miser'
df2['value'][0] = df2['value'][0].split(' ')[0] # 'Shrio'

In [149]:
df2

           key      value
0  ingredient1      Shiro
1  ingredient2      Miser
2  ingredient3      Kitfo
3  ingredient4       Kurt
4  ingredients  [1, 2, 3]

In [ ]:
"""
UPDATE df
set value = 'kifo'
where 

(select value
from df 
where value = 'Key Sire Alicha') 
"""

### Reflection:

What do you think of this exercise?